* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  width: 100vw;

  background-image: linear-gradient(#0a000a 30%, #1d031d 70%, #310831);
  background-repeat: no-repeat;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  min-width: 200px;
  width: auto;

  margin: 20px;
  padding: 30px;

  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.8);
  border-top: grey 2px solid;
  border-left: grey 2px solid;
  border-bottom: rgb(59, 59, 59) 2px solid;
  border-right: rgb(59, 59, 59) 2px solid;
  border-radius: 15px;
  backdrop-filter: blur(10px);
}


.card {
  background-image: url(./coctel.jfif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: none;

  border-radius: 50%;

  box-shadow: 0 0 20px #000;

  width: 190px;
  height: 190px;
  max-height: 250px;

  padding: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: border-radius 0.3s ease, width 0s ease, max-height 0.2s ease;
}

.card--open {
  background-color: white;
  background-image: none;

  box-shadow: 0 0 20px #000;

  width: 100%;
  height: auto;
  max-height: 1000px;

  padding: 15px;

  border-radius: 0;

  transition: 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  transition: border-radius 0.2s ease, width 0.3s linear, max-height 0.6s linear;
}


.title {
  width: 150px;

  margin-top: 50px;

  font-size: 20px;
  text-align: center;

}

.title--open {
  width:100%;

  margin: 20px;

  font-size: 20px;
  text-align: center;
}


.link {
  padding: 10px 20px 30px;

  color: #f00;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}

.link--open {
  padding: 10px 20px 60px;

  color: #f00;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
}


.content {
  width: 0;
  height: 0;

  display: none;
}

.content--open {
  width: 100%;

  margin: 5px;

  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  overflow: hidden;
}


.content__img {
  height: 150px;
}

.content__text {
  list-style: none;

  font-size: 25px;
}



.hidden {
  display: none;
}


@media (min-width: 768px) {
    
  .card {
    width: 250px;
    height: 250px;

    margin: 20px;

    transition: border-radius 0.3s ease, width 0s ease, max-height 0.5s ease;
  }

  .card--open {
    max-width: 600px;

    transition: border-radius 0.3s ease, width 0.1s linear, max-height 1s ease;
  }


  .title {
    font-size: 25px;
  }

  .title--open {
    font-size: 25px;
  }


  .content--open {
    flex-direction: row;
  }

  .content__img {
    height: 250px;
  }
}
